.container {
  display: flex;
  flex-direction: column;
  justify-content: center;

  gap: 8px;
  padding: 32px;

  color: var(--gray-light);
  background-color: var(--gray);
  box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.5);

  max-width: var(--contianer-width);
  width: 100%;

  font-size: 16px;
  border-radius: 5px;

  @media (max-width: 628px) {
    height: 100%;
    border-radius: 0;
  }
}