.text {
  font-family: var(--font-primary);
  font-size: inherit;
  font-weight: 400;

  color: inherit;
  &_default {
    color: var(--white);
  }

  &_muted {
    color: var(--muted);
  }

  &_anywhere {
    word-wrap: anywhere;
  }

  &_break-word {
    word-wrap: break-word;
  }

  &_left {
      text-align: left;
  }

  &_center {
    text-align: center;
  }

  &_right {
    text-align: right;
  }

}