.section {
  position: absolute;
  display: flex;

  align-items: center;
  justify-content: center;

  width: 100%;
  height: 100%;

  padding: var(--section-padding);
  &__spacing {
    margin: var(--section-spacing) 0;

    &_bottom {
      margin-top: 0;
      margin-bottom: var(--section-spacing);
    }

    &_top {
      margin-top: var(--section-spacing);
      margin-bottom: 0;
    }
  }
}