:root {
  --white: #ffffff;
  --black: #202225;

  --gray: #36393f;
  --gray-light: #b9bbbe;

  --brand: #5865f2;
  --purple: #EB459E;

  --green: #57F287;
  --yellow: #FEE75C;

  --font-primary: "Roboto", sans-serif;
  --font-secondary: "Montserrat", sans-serif;
}