@import "./base.scss";
@import url("https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Roboto:wght@300;400&display=swap");

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;

  color: var(--text-color-1);
  background-color: var(--background-color-1);

  min-height: 100vh;
  overflow: hidden;
}